$degrees = unquote('10deg')
$degreesInvert = unquote('-10deg')

body
	background-color $white
	a
		color inherit

.clickable
	cursor pointer

.page
	width 100%
	height 100vh
	position relative
	overflow-y auto
	overflow-x hidden

.inner
	padding 0 80px

#mouse
	display block
	size 30px
	z-index 9999
	fixed top -100px left -100px
	border 3px solid $black
	border-radius 100%
	transform translate(-50%, -50%)
	//transition transform 1s cubic-bezier(0.770, 0.000, 0.175, 1.000)
	pointer-events none
	//transition width .333s ease-in-out, height .333s ease-in-out, border .333s ease-in-out, background-color .333s ease-in-out
	&.clickAnim
		animation clickAnim .333s forwards
	&.enterAnim
		&:not(.clickAnim)
			animation enterAnim .333s forwards
	&.leaveAnim
		&:not(.enterAnim)
			animation leaveAnim .333s forwards
	&.white
		border-color $white !important

@keyframes enterAnim
	0%
		border-width 3px
		background-color transparent
	50%
		border-width 0
	100%
		border-width 0
		background-color rgba($black,.5)
		/*box-shadow 0 0 5px rgba(0,0,0,.6)
		background-color rgba(0,0,0,.5)*/

@keyframes leaveAnim
	0%
		border-width 0
		box-shadow 0 0 5px rgba(0,0,0,.6)
		background-color rgba(0,0,0,.5)
	100%
		border-width 3px
		background-color transparent

@keyframes clickAnim
	0%
		border-width 3px
	50%
		size 15px
		border-width 8px
	100%
		size 30px
		border-width 3px

header
	size 100% 100px
	.logo
		display block
		padding 25px 0
		margin 0 auto
		width 88px
	img
		height 50px
		object-fit contain

header, footer
	z-index 9
	width 100%
	position relative
/*header
	fixed top 0 left 0
	background-color $white*/
footer
	position relative
	.flex
		.column
			f 16, 100, 'regular2' lowercase $black
			// $white
			&:nth-child(2)
				text-align center
			&:nth-child(3)
				text-align right
				color #ccc
	a
		display inline-block
		padding 0 20px
		f 16, 46, $greenLight
		border 2px solid $greenLight
		background-color $white
		&:hover
			color $white
			background-color $greenLight

// in PX
$hambSize = 100
$hambBarWidth = 28
$hambMinLeft = 80
$hambLeft = $hambMinLeft - (($hambSize - $hambBarWidth) / 2)

$hambBar1Top = ($hambSize / 2 - 13)
$hambBar2Top = ($hambSize / 2)
$hambBar3Top = ($hambSize / 2 + 13)
$hambBar1TopHover = ($hambSize / 2 - 6)
$hambBar3TopHover = ($hambSize / 2 + 6)

body .menu-open .hamburguer div
	&:nth-child(2)
		opacity 0
	&:nth-child(1), &:nth-child(3)
		top unit($hambBar2Top, 'px')
	&:nth-child(1)
		transform rotate(-45deg) translate3d(-55%,0,0)
	&:nth-child(3)
		transform rotate(45deg) translate3d(-46%,0,0)

.hamburguer
	size unit($hambSize, 'px')
	cursor pointer
	absolute top 0 left unit($hambLeft, 'px')
	transition all .2s ease-in-out
	&:hover
		div
			&:nth-child(1)
				top unit($hambBar1TopHover, 'px')
			&:nth-child(3)
				top unit($hambBar3TopHover, 'px')

	&:active
		div
			&:nth-child(2)
				opacity 0
			&:nth-child(1), &:nth-child(3)
				top unit($hambBar2Top, 'px')

	div
		size unit($hambBarWidth, 'px') 2px
		absolute left 50%
		transform translate3d(-50%,0,0)
		background-color $darkGray // $white
		transition all .2s ease-in-out
		transform-origin top left
		&:nth-child(1)
			top unit($hambBar1Top, 'px')
		&:nth-child(2)
			top unit($hambBar2Top, 'px')
		&:nth-child(3)
			top unit($hambBar3Top, 'px')





$_titlePadding = unit(40, 'px')
$_menuPadding = unit(20, 'px')




#content
	margin top -25px bottom -25px
	overflow hidden

.hoverSwitchCase
	position relative
	span
		display block
		opacity 1
		color inherit
		visibility visible
		transition all 0.2s ease-in-out
		&:first-child
			text-transform uppercase
		&:last-child
			width 100%
			absolute top 0 left 0
			text-transform lowercase
			visibility hidden
			opacity 0

	&.invert
		span
			&:first-child
				text-transform lowercase
			&:last-child
				text-transform uppercase



header .active .hoverSwitchCase, header .hoverSwitchCase:hover
	span:last-child
		color $blue

.active .hoverSwitchCase, .hoverSwitchCase:hover
	span
		&:first-child
			opacity 0
			visibility hidden
		&:last-child
			opacity 1
			visibility visible



.Tilt
	size 100% calc(100vh - 160px)
	position relative
	transform-style preserve-3d
	box-shadow 0 0 3px transparent // FF fix jagged edges

.TiltBackground
	size 100%
	overflow hidden
	position relative
	//background-color $darkGray // $greenLight
	.slide
		size 100%
		display block
		absolute top 0 left 0
		z-index 1
		&.left
			z-index 2
			size 125% 100%
			margin-left -75%
			transform skew($degreesInvert)
			//background-color $blue
			img
				margin-left 25%
		&.smooth
			transition all 1s cubic-bezier(.2,.8,.2,1)

	img
		size 100%
		object-fit cover

.TiltOverlay
	z-index 4
	size 100%
	user-select none
	absolute top 0 left 0
	transform-style preserve-3d

	h1, h2
		position relative
		transition all .2s ease-in-out, color 0s ease-in-out
		f 40, 46, 'regular2' .1em nowrap $black

	p
		f 16, 24, .1em

.pageContent
	absolute top 0 left 0
	padding 25px 80px
	z-index 1
	size 100%
	opacity 1
	visibility visible
	transform-style preserve-3d
	transition opacity .13s ease-in-out, visibility .13s ease-in-out, top .33s ease-in-out, left .33s ease-in-out

	&.hidden
		pointer-events none
		z-index -1
		&:not(.home)
			opacity 0
			visibility hidden
		&.home
			top 0
			left 0
		&.menu
			top -100%
			left 0
		&.work
			top 0
			left 100%


.contentOverlay
	z-index 2
	absolute top 0 left 0

.work
	.TiltOverlay
		overflow hidden
	.contentOverlay
		background-color rgba($white, .9)
		padding 50px
		size 50% auto
		top 0
		left 0
		transform translate3d(-100%, 0, 0)
		transition all .33s ease-in-out 0s

		h1, h2
			color $greenLight
			white-space normal
		p
			opacity 0
			visibility hidden
			max-height 0
			overflow hidden
			transition max-height .33s cubic-bezier(0, 1, 0, 1) .15875s
			/* -.04125s */

	.slick-active
		.contentOverlay
			transform translate3d(0, 0, 0)

			h1, h2
				padding-bottom 25px
				transition padding .33s ease-in-out .35s
			p
				opacity 1
				visibility visible
				max-height 9999px
				transition max-height .33s cubic-bezier(.5, 0, 1, 0) .45s

.home, .menu
	.contentOverlay
		size auto
		top 50%
		left 50%
		transform translate3d(-50%, -50%, 250px)
		transition opacity .13s ease-in-out, visibility .13s ease-in-out, transform .33s ease-in-out .33s
	&.hidden
		.contentOverlay
			opacity 0
			visibility hidden
			transform translate3d(-50%, -50%, 0px)

.home
	.contentOverlay
		h1, h2
			color $greenLight
			padding $_titlePadding
			border 1px solid $greenLight
			background-color $white
			&:hover
				color $white
				background-color $greenLight

			span:last-child
				absolute top $_titlePadding left $_titlePadding
				width unquote('calc(100% - ' + $_titlePadding*2 + ')')
		h1
			text-align center
		h2
			margin-top -1px


.menu
	.TiltOverlay
		ul li
			f 40, 46, 'regular2' .1em $greenLight
			a
				display block
				width 100%
				padding $_menuPadding
				span:last-child
					width unquote('calc(100% - ' + $_menuPadding*2 + ')')
					absolute top $_menuPadding left $_menuPadding



.menuInline
	clearfix()
	absolute top 0 left 80px
	li
		float left
		a
			display block
			f 24, 100, 'regular2' uppercase $black
			span
				padding 0 20px

		&:first-child a span
			padding-left 0



/*
.carousel
	height 100%
	//box-shadow inset 0 0 3px $black
	transform-style preserve-3d
	[class^="horizontalSlider"], [class^="carousel__slider-tray-wrapper"], [class^="sliderTray"], .carousel__slide
		height 100%
		transform-style preserve-3d

	.carousel__slide
		width 100%
		*/
.slick-slider
	cursor move
	cursor grab
.slick-slider, .slick-list, .slick-track, .slick-slide, .slick-slide > div
	/*transform translate3d(0, 0, 0)*/
	transform-style preserve-3d
	height 100%
.slick-slide > div
	width 100%
	/*perspective 1000px*/

.slick-dots
	left -1px
	bottom -1px
	padding-top 10px
	width calc(100% + 2px)
	background-color $white
	li
		size auto
		padding 5px 10px
		margin 0
		button
			f 0, 0
			size 10px
			padding 0
			border-radius 100%
			background-color transparent
			border 2px solid $greenLight
			/*box-shadow 0 0 3px 1px rgba($black, .25)*/
			&:before
				content none

		&.slick-active
			button
				background-color $greenLight